body {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  background-color: #f5ec48;
  color: #000000;
  font-size: 16px;
}
hr {
  border-color: #000000;
}
.container a {
  color: #000000;
  font-weight: bold;
}
.container a:hover {
  color: #000000;
}
.gi-2x {
  font-size: 2em;
}
.gi-3x {
  font-size: 3em;
}
.gi-4x {
  font-size: 4em;
}
.gi-5x {
  font-size: 5em;
}
.services-list {
  padding: 20px 0 20px 0;
}
footer {
  font-size: 14px;
  padding: 20px 0 20px 0;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.brand {
  padding-top: 15px;
  padding-bottom: 15px;
}
.brand img {
  max-height: 131px;
}
.navbar {
  border-radius: 0;
  min-height: 40px;
}
.navbar-custom {
  background-color: #000000;
  border-color: #000000;
}
.navbar-custom .navbar-nav {
  font-size: 22px;
  width: 100%;
  text-align: center;
}
@media (min-width: 768px) {
  .navbar-custom .navbar-nav > li {
    float: none;
    display: inline-block;
  }
}
@media (max-width: 767px) {
  .navbar-custom .navbar-nav > li {
    margin: 0;
  }
}
.navbar-custom .navbar-nav > li > a {
  color: #f5ec48;
  padding: 10px 50px;
}
.navbar-custom .navbar-nav > li > a:hover {
  color: #ffffff;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover {
  color: white;
  background-color: transparent;
}
.navbar-custom .navbar-brand {
  color: #ffffff;
}
.services-list img.media-object {
  width: 72px;
  height: 72px;
}
.media-heading {
  border-bottom: 2px solid #000000;
}
/* hide title */
.intro-header {
  height: 0;
}
.site-heading h1 {
  color: #f5ec48;
}
.thumbnail {
  background-color: transparent;
  border: 0;
  margin-bottom: 0;
}
.thumbnail .caption {
  padding: 9px 0;
}
.thumbnail .caption p {
  margin-bottom: 0;
}
video {
  width: 100%;
  border: 1px solid #000000;
  cursor: pointer;
}
.team-item {
  font-size: 14px;
}
.team-item .caption {
  font-size: 12px;
}
