@import "variables.less";
@import "mixins.less";

body {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  background-color: @yellow;
  color: @dark;
  font-size: @font-m;
}

hr {
  border-color: @dark;
}

.container {
  a {
    color: @dark;
    font-weight: bold;
  }
  a:hover {
    color: @dark;
  }
}

.gi-2x{font-size: 2em;}
.gi-3x{font-size: 3em;}
.gi-4x{font-size: 4em;}
.gi-5x{font-size: 5em;}

.services-list {
  padding: 20px 0 20px 0;
}

footer {
  font-size: @font-s;
  padding: 20px 0 20px 0;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.brand {
  padding-top: 15px;
  padding-bottom: 15px;

  img {
    max-height: 131px;
  }
}
.navbar {
    border-radius: 0;
    min-height: 40px;
}
.navbar-custom {
    background-color: @dark;
    border-color: @dark;

    .navbar-nav {
      font-size: @font-xl;
      width: 100%;
      text-align: center;

      >li {

        @media (min-width: 768px) {
          float: none;
          display: inline-block;
        }
        @media (max-width: 767px) {
          margin: 0;
        }

        >a {
          color: @yellow;
          padding: 10px 50px;
        }
        >a:hover {
          color: #ffffff;
        }
      }

      >.active {
        >a, >a:hover {
          color: white;
          background-color: transparent;
        }
      }
    }

    .navbar-brand {
      color: #ffffff;
    }
}

.services-list {
  img.media-object {
    width: 72px;
    height: 72px;
  }
}

.media-heading {
  border-bottom: 2px solid @dark;
}
/* hide title */
.intro-header {
  height: 0;
}
.site-heading {
  h1 {
    color: @yellow;
  }
}

.thumbnail {
  background-color: transparent;
  border: 0;
  margin-bottom: 0;

  .caption {
    padding: 9px 0;

    p {
      margin-bottom: 0;
    }
  }
}

video {
  width: 100%;
  border: 1px solid @dark;
  cursor: pointer;
}

.team-item {
  font-size: @font-s;
  .caption {
    font-size: @font-xs;
  }
}
