@import "variables.less";
@import "mixins.less";

body {
  text-transform: uppercase;
  background-color: #F8EA57;
  color: #000000;
}

hr {
  border-color: #000000;
}

.gi-2x{font-size: 2em;}
.gi-3x{font-size: 3em;}
.gi-4x{font-size: 4em;}
.gi-5x{font-size: 5em;}


footer {
  font-size: @font-small;
  padding: 30px 0 10px 0;
}
