@import "variables.less";
@import "mixins.less";

body {
  font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  background-color: @yellow;
  color: #000000;
  font-size: @font-m;
}

hr {
  border-color: #000000;
}

.gi-2x{font-size: 2em;}
.gi-3x{font-size: 3em;}
.gi-4x{font-size: 4em;}
.gi-5x{font-size: 5em;}

.services-list {
  padding: 20px 0 20px 0;
}

footer {
  font-size: @font-s;
  padding: 20px 0 20px 0;
}

@font-face {
    font-family: "Bebas Neue";
    src:  url('../fonts/bebas-neue/BebasNeue-webfont.woff') format('woff'),
          url('../fonts/bebas-neue/BebasNeue-webfont.ttf') format('ttf'),
          url('../fonts/bebas-neue/BebasNeue-webfont.svg') format('svg'),
          url('../fonts/bebas-neue/BebasNeue-webfont.eot') format('eot');
}
.brand {
  padding: 20px;

  img {
    width: 70px;
    height: 100px;
  }
}
.navbar {
    border-radius: 0;
    min-height: 40px;
}
.navbar-custom {
    background-color: #000000;
    border-color: #000000;

    .navbar-nav {
      font-size: @font-xl;
      width: 100%;
      text-align: center;

      >li {
        float: none;
        display: inline-block;
        >a {
          color: @yellow;
          padding: 10px 50px;
        }
        >a:hover {
          color: #ffffff;
        }
      }
    }

    .navbar-brand {
      color: #ffffff;
    }
}

.services-list {
  img.media-object {
    width: 72px;
    height: 72px;
  }
}

.media-heading {
  border-bottom: 2px solid #000000;
}
/* hide title */
.intro-header {
  height: 0;
}
.site-heading {
  h1 {
    color: @yellow;
  }
}

.thumbnail {
  background-color: transparent;
  border: 0;
  margin-bottom: 0;

  .caption {
    padding: 9px 0;

    p {
      margin-bottom: 0;
    }
  }
}
