<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <hr>
                <p class="copyright text-center">All Copyright reserved &copy;
                    {{ site.copyright_name }} {{ site.time | date: '%Y' }}<br>
                    Via Torino 24/A 36061 Bassano del Grappa VI Italy / VAT IT01234567890 ph 0039 338 22 38 959
                </p>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="{{ "/js/jquery.min.js " | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ "/js/bootstrap.min.js " | prepend: site.baseurl }}"></script>

<!-- Custom video controls -->
<!-- script src="{{ "/js/custom-controls.js " | prepend: site.baseurl }}"></script -->
